@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {}

#nprogress .bar {
  border: 1.5px solid #673DE6 !important;
}

@layer components {
  .transition-ease {
    @apply transition-all ease-in-out duration-300;
  }
}

html {
  scroll-behavior: smooth;
}

.font-extrabold-2 {
  -webkit-text-stroke: 1px;
    font-weight: 900;
}

.generic-scrollbar::-webkit-scrollbar-track {
  background-color: #f1efef;
  border-radius: 20px;
}

.generic-scrollbar::-webkit-scrollbar-thumb {
  background-color: #673de6;
  border-radius: 20px;
}

.hidden-scrollbar::-webkit-scrollbar {
  width: 0;
}

.hidden-scrollbar::-webkit-scrollbar-track {
  background-color: #f1efef;
  border-radius: 20px;
}

.hidden-scrollbar::-webkit-scrollbar-thumb {
  background-color: #f1efef;
  border-radius: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
